body {
  font-family: "PT Mono", monospace;
  text-align: center;
  font-weight: bold;
  background-image: url("images/bluesky-sunny.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
  color: rgb(3, 51, 3);
  /*margin: 0 auto;*/
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: bolder;
}
h2,
p {
  text-align: left;
}
h2 {
  /*font-family: "Roboto", sans-serif;*/
  margin: -60px 0 15px;
  font-weight: bolder;
}

ul {
  margin: 0;
  padding: 0;
}
footer {
  font-size: 14px;
  font-weight: bold;
  margin-top: -50px;
  /*margin-bottom: 5px;
  margin-left: -450px;*/
}

.section {
  border: solid 5px rgb(148, 141, 144);
  border-radius: 10px;
  box-shadow: #000 0px 3px 8px 0px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 800px;
  padding: 0 30px;
  /*position: relative;*/
}
button {
  border-radius: 15px;
  box-shadow: #000 0px 2px 4px 0px;
  border: solid 1px #48829e;
  font-size: 24px;
  padding: 10px 20px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

button.search-button:hover,
button.current-location-button:hover {
  background-color: #fff;
  border: solid 2px #48829e;
}

.description {
  font-size: 16px;
  text-transform: capitalize;
  margin-left: -200px;
  margin-bottom: -30px;
}
.main-temperature {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
}
.main-temp,
.parameters {
  list-style: none;
}
.min-max {
  margin-top: -20px;
  margin-left: -50px;
  opacity: 0.4;
}

.choose-temperature {
  position: relative;
  font-size: 16px;
  top: -50px;
}

.parameters {
  text-align: left;
  line-height: 1.5;
  color: #fff;
}
.active {
  color: black;
  cursor: default;
}
.current-temperature {
  padding: 0;
  margin: 0 auto;
}
.weather-wrapper {
  margin-top: -200px;
}

.feeling {
  text-align: center;
  color: #bf0077;
  font-size: 16px;
}
.weather-forecast {
  margin-top: 50px;
}
.weather-forecast-day,
.weather-forecast-min-temp {
  opacity: 0.7;
}
.notification {
  color: blue;
  display: inline;
  margin-bottom: -100px;
  font-weight: bolder;
}
